<Mapper namespace="cn.coderap.dao.IUserDao">

    <!--一条sql的唯一标识：namespace.id，即statementId-->
    <!--一个select标签封装成一个mappedStatement对象-->
    <select id="findAll" resultType="cn.coderap.pojo.User">
        select * from `user`
    </select>

    <select id="findByCondition" resultType="cn.coderap.pojo.User" parameterType="cn.coderap.pojo.User">
        select * from `user` where name like #{name} and age > #{age}
    </select>
</Mapper>