<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.coderap.mapper.IStuMapper">
    <resultMap id="oneStuOneClazz" type="cn.coderap.pojo.Stu">
        <!--方式一-->
<!--        <id column="id" property="id"/>
        <result column="stu_name" property="stuName"/>

        <association property="clazz" javaType="cn.coderap.pojo.Clazz">
            &lt;!&ndash;注意：这里本应该是id,但因为有两个id字段，无法区分应该将哪个封装到该id属性。
                这种情况下，可以给一个id取别名cid来解决;因为s.clazz_id与c.id相等，因此也可以直接使用clazz_id&ndash;&gt;
            <id column="cid" property="id"/>
            <result column="clazz_name" property="clazzName"/>
        </association>-->

        <!--方式二-->
        <id column="cid" property="clazz.id"/>
        <result column="stu_name" property="stuName"/>
        <result column="clazz_name" property="clazz.clazzName"/>
    </resultMap>

    <!--一对一-->
    <select id="findStuAndClazz" resultMap="oneStuOneClazz">
        select *,c.id as cid from t_student s, t_clazz c where s.clazz_id = c.id
    </select>
</mapper>